@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.eot");
    src: local("O"), url("../fonts/Roboto-Regular.woff") format("woff"), 
        url("../fonts/Roboto-Regular.ttf") format("truetype"), 
        url("../fonts/Roboto-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'PlayfairDisplay';
    src: url("../fonts/PlayfairDisplay.eot");
    src: local("O"), url("../fonts/PlayfairDisplay.woff") format("woff"), 
        url("../fonts/PlayfairDisplay.ttf") format("truetype"), 
        url("../fonts/PlayfairDisplay.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Prata';
    src: url("../fonts/Prata-Regular.eot");
    src: local("O"), url("../fonts/Prata-Regular.woff") format("woff"), 
        url("../fonts/Prata-Regular.ttf") format("truetype"), 
        url("../fonts/Prata-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }